<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.android.ipm.mygymbuddy" >

    <application
        tools:replace="android:icon,android:theme"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity android:name=".LoginActivity"
            android:theme="@style/AppTheme.StatusColor">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.android.ipm.mygymbuddy.RegisterActivity"
            android:theme="@style/AppTheme.StatusColor">
        </activity>
        <activity android:name="com.android.ipm.mygymbuddy.CreateProfileActivity"
            android:theme="@style/AppTheme.StatusColor">
        </activity>
        <activity android:name="com.android.ipm.mygymbuddy.CongratsActivity"
            android:theme="@style/AppTheme.StatusColor">
        </activity>
        <activity android:name=".MainActivity"></activity>
        <activity android:name=".HidratationActivity"
            android:theme="@style/AppTheme.StatusColor"
            android:parentActivityName=".MainActivity"></activity>
        <activity android:name=".ExercisesActivity"
            android:theme="@style/AppTheme.StatusColor"
            android:parentActivityName=".MainActivity"></activity>
        <activity android:name=".RunningActivity"
            android:theme="@style/AppTheme.StatusColor"
            android:parentActivityName=".MainActivity"></activity>

        <provider
            android:name="com.tyczj.extendedcalendarview.CalendarProvider"
            android:authorities="com.tyczj.extendedcalendarview.calendarprovider" />
    </application>

</manifest>
